@charset "utf-8";

#main {
	width: 660px;
}

.mb30 {
	margin-bottom: 30px;
}

.txt {
	width: 620px;
	margin: 30px auto 0;
}

.txt2 {
	width: 590px;
	margin: 30px auto 20px;
	border-top: 1px dashed #DDDDDD;
	padding-top: 20px;
}


ul.list {
	width: 620px;
	margin: 20px auto 0;
}
ul.list li {
	list-style-type:disc;
	margin-left: 20px;
}